:root {
    color-scheme:       dark;
    --corner-radius:    15px;
    --background-color: #202020;
    --shadow-color:     #1112137F;
    --text-color:       #b8ffdb;
    --subtext-color:    #979797;
    --accent-color:     #61c792;
    --hidden-color:     hsla(149, 48%, 58%, 0.25); /* 25% alpha */
    --selected-color:   hsla(149, 48%, 58%, 0.33); /* 33% alpha */
    --hidden-selected-color: hsla(149, 48%, 58%, 0.10); /* 33% alpha */
    --margin:           32px;
}

html {
    background: transparent;
}

body {
    /* eventually replace this with one unified font */
    font-family: "Segoe UI Variable","Segoe UI",system-ui,-apple-system,"Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Color Emoji";
    margin:      var(--margin);
    color:       var(--text-color);
}

/* BEGIN MICA(ish) BLUR
Getting as close as possible to the effect

- FIREFOX doesn't seem to respect blur radius >100, see BUGZILLA:1530810
- CHROMIUM handles this fine, don't care about the others really...
*/
.mica-blur {
    background-color:      var(--background-color);
    /* need to find "brand" image, default w11 wallpaper will do for now */
    
    background-image:      url("/bg.webp");
    background-position:   center;
    background-size:       cover;
    background-repeat:     no-repeat;
    background-attachment: fixed;
    
    /*
    close enough?? CSS blur() doesn't exactly mimic the mica blur,
    it shaves off the bottom of the image/doesnt't take it into account,
    so it looks funny at the edges
    */
    filter:    blur(200px) saturate(200%);
    height:    100%;
    width:     100%;
    position:  fixed;
    transform: translateX(calc(var(--margin)*-1)) translateY(calc(var(--margin)*-1));
    z-index:   -1;
}

/* dark layer over mica */
.mica-blur::after {
    content:  "";
    display:  block;
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
    background-color: var(--background-color);
    opacity:  90%;
}
/* END MICA(ish) BLUR */

.mica-blur- {
    background: transparent;
}

.profile-picture {
    border-radius: var(--corner-radius);
    filter:        drop-shadow(0px 20px 10px var(--shadow-color));
    margin-top:    auto;
    margin-bottom: auto;
    margin-right:  var(--margin);
    height:        128px;
}

header {
    display:        flex;
    flex-direction: row;
}

.header-text {
    margin-top:    auto;
    margin-bottom: auto;
}

.username {
    font-size: 38px;
    margin:    0px;
}

.splash {
    font-size:     16px;
    width:         fit-content;
    color:         var(--accent-color);
    padding-left:  4px;
    padding-right: 4px;
}

/* BEGIN HOVER ON CLICKABLE */
.clickable, .hidden-clickable {
    transition-property:        background-color;
    transition-duration:        0.3s;
    transition-timing-function: ease-in-out;
    border-radius:              calc(var(--corner-radius));
}

.clickable:hover {
    background-color: var(--selected-color);
}


.hidden-clickable:hover {
    background-color: var(--hidden-selected-color);
}
/*** END CLICKABLE-TEXT ***/

.horizontal-border {
    border:        2px solid var(--accent-color);
    border-radius: 5px;
    margin-top:    32px;
    margin-bottom: 32px;
}

.vertical-border {
    border:        2px solid var(--accent-color);
    border-radius: 5px;
    margin:        0px;
    margin-right:  16px;
    margin-left:   16px;
    margin-bottom: 8px;
    height:        44px; /* 48 (height of iconify-icon elements) - (border width * 2 (for some reason)) */
    display:       inline-block;
}

.iconify-icon {
    color:        var(--accent-color);
    margin-left:  8px;
    margin-right: 8px;
    padding:      8px;
}

/*
style="stroke: var(--accent-color); stroke-width: 1;"
*/

.hidden-color {
    color: var(--hidden-color);
}

.lesser-bottom-margin-for-icons {
    margin-bottom: 24px;
}

.right-align {
    float: right;
}

/*

@keyframes splashscale {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.03);
    }
    
}

*/
