:root {
    color-scheme: dark;
    --corner-radius: 15px;
    --font-family: "Segoe UI",system-ui,-apple-system,"Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Color Emoji";
    --background-color: #202020;
    --shadow-color: #1112137F;
    --text-color: #fff;
    --subtext-color: #979797;
    --accent-color: #61c792;
    --margin: 32px;
}

html {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 32px;
}

header {
    margin: 0px;
}

.profilePicture {
    border-radius: var(--corner-radius);
    filter: drop-shadow(0px 20px 10px var(--shadow-color));
    margin-top: auto;
    margin-bottom: auto;
    margin-right: var(--margin);
    height: 128px;
}

.headerText {
    margin-top: auto;
    margin-bottom: auto;
}

.username {
    font-size: 38px;
    margin: 0px;
}

.splash {
    font-size: 16px;
    color: var(--accent-color);
    margin: 0px;
}

.border  {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.main {
    height: auto;
}

.icon {
    color: var(--accent-color);
    width: 32px;
    margin-right: 32px;
}


footer {
    margin-bottom: var(--margin);
}

/*
header {
    display: flex;
    
    text-align: left;
    margin: var(--margin);;
    margin-top: 200px;
}

#headerText {
    height: 128px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
    
#pfp {
    border-radius: var(--corner-radius);
    filter: drop-shadow(0px 20px 10px var(--shadow-color));
    width: 128px;
    height: 128px;
}

@keyframes splashscale {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.03);
    }
    
}

hr.border {
    
    margin: var(--margin);;
    border-top: 3px solid var(--accent-color);
    border-radius: 5px;
}

#eveythingelse {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    margin-top: var(--margin);
    font-size: 2em;
}
*/

